<mat-toolbar class="mat-elevation-z2" color="primary">
  <span>Dart scoreboard</span>
</mat-toolbar>

<mat-card routerLink="manage-players">
  <!-- <img style="opacity:0.8" mat-card-image src="assets/people-playing.jpg" alt="Photo of people"> -->
  <mat-card-header color="primary">

    <mat-card-title>
      Manage your players
    </mat-card-title>
    <!-- <mat-card-subtitle>
      
    </mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    Manage teams or players
  </mat-card-content>
</mat-card>
<mat-card routerLink="select-players">
  <!-- <img style="opacity:0.8" mat-card-image src="assets/people-playing.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-header>
    <mat-card-title>
      Play
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Play a variety of games like 301, 501 and more
  </mat-card-content>
</mat-card>