<mat-toolbar color="primary">
  <span>Dart scoreboard</span>
</mat-toolbar>

<mat-card routerLink="manage-players">
  <img style="opacity:0.8" mat-card-image src="assets/people-playing.jpg" alt="Photo of people">
  <mat-card-header color="primary">

    <mat-card-title>
      Manage your players
    </mat-card-title>
    <!-- <mat-card-subtitle>
      
    </mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    Manage teams or players
  </mat-card-content>
  <!-- <mat-card-content>
    <p>
      Manage your players using our advanced technology
    </p>
  </mat-card-content> -->
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <!-- <mat-card-content>
    <p>
      Manage your players using our advanced technology. You can add players or manage teams and stuff.
    </p>
  </mat-card-content> -->
  <!-- <mat-card-actions>
    <button mat-flat-button color="primary">MANAGE PLAYERS</button>
    <button mat-raised-button color="primary">MANAGE TEAMS</button>
  </mat-card-actions> -->
</mat-card>
<mat-card routerLink="select-players">
  <img style="opacity:0.8" mat-card-image src="assets/people-playing.jpg" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <mat-card-title>
      Play
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Play a variety of games like 301, 501 and more
  </mat-card-content>
</mat-card>

<!-- <mat-list role="list">
  <mat-list-item role="listitem">
    <mat-card>Manage players</mat-card>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-card>Manage players</mat-card>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-card>Manage players</mat-card>
  </mat-list-item>
</mat-list> -->