// http://ionicframework.com/docs/theming/
// @import '~@ionic/angular/css/core.css';
// @import '~@ionic/angular/css/normalize.css';
// @import '~@ionic/angular/css/structure.css';
// @import '~@ionic/angular/css/typography.css';

// @import '~@ionic/angular/css/padding.css';
// @import '~@ionic/angular/css/float-elements.css';
// @import '~@ionic/angular/css/text-alignment.css';
// @import '~@ionic/angular/css/text-transformation.css';
// @import '~@ionic/angular/css/flex-utils.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-teal);
$candy-app-accent:  mat-palette($mat-red, 800, 800, 800);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.my-full-screen-dialog {
    height: 100vh;
    width: 100vw !important;
    max-width: none !important;
    border-radius: 0!important;
}

.my-full-screen-dialog .mat-dialog-container {
    padding: 0;
}

.mat-standard-chip {
    border-radius: 0!important;
}

mat-dialog-container {
    border-radius: 0!important;
}

.icon-home {
    padding-right: 14px;
}

.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.mat-raised-button, .mat-flat-button, .mat-stroked-button {
    border-radius: 0!important;
}

.mat-card {
    border-radius: 0!important;
}

.mat-card-header-text {
    margin: 0!important;
}

.ml-auto {
    margin-left: auto!important;
}

.full-width {
    width: 100%;
}

.btn-validate {
    position: fixed!important;
    bottom: 16px;
    width: calc(100% - 32px);
    left: 16px;
    right: 16px;
}