// http://ionicframework.com/docs/theming/
// @import '~@ionic/angular/css/core.css';
// @import '~@ionic/angular/css/normalize.css';
// @import '~@ionic/angular/css/structure.css';
// @import '~@ionic/angular/css/typography.css';

// @import '~@ionic/angular/css/padding.css';
// @import '~@ionic/angular/css/float-elements.css';
// @import '~@ionic/angular/css/text-alignment.css';
// @import '~@ionic/angular/css/text-transformation.css';
// @import '~@ionic/angular/css/flex-utils.css';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

ion-router-outlet {
    //background: #BEAD62;;
}

.mat-card-header-text {
    margin: 0!important;
}

.ml-auto {
    margin-left: auto!important;
}

.full-width {
    width: 100%;
}

.btn-validate {
    position: fixed!important;
    bottom: 16px;
    width: calc(100% - 32px);
    left: 16px;
    right: 16px;
}