<div id="canvas-wrapper">
  <canvas (click)="play($event)" id="canvas" height="500" width="500"></canvas>
</div>

<ion-content>
  <ion-row>
    Scoreboard
  </ion-row>
  <ion-grid>
    <ion-row [ngClass]="{ selected: isSelected(score) }" class="scoreboard-col" *ngFor="let score of scores">
      <ion-col size="4">
        {{ score.player }}
      </ion-col>
      <ion-col>
        {{ score.dart1 }}
      </ion-col>
      <ion-col>
        {{ score.dart2 }}
      </ion-col>
      <ion-col>
        {{ score.dart3 }}
      </ion-col>
      <ion-col>
          {{ score.remaining }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>